
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <br><br>

        <form action="/Login/CheckUpass" method="get" target="_blank">
            <label for="fname">Username :</label><br>

            <input type="text" id="fname" name="fname"><br><br>

            <label for="fname">Password :</label><br>

            <input type="password" id="Fpass" name="Pass"><br><br>

            <input type="submit" value="Login">
        </form>


    </div>
</body>
</html>
